.container {
	width:$container-width;
	max-width: $max-width;
	margin: 0 auto;
	@include clearfix;
}

.container:after {
  	@include clearfix;
}

.row:after {
	@include clearfix;
}

[class*='column-'] {
	float: left;
    min-height: 1px; 
    padding: $column-padding;
    width:100%;
}

@media (min-width:$breakpoint-width) {
	.column-1 {
		width: $column-1-width;
	}
	.column-2 {
		width: $column-2-width;
	}
	.column-3 {
		width: $column-3-width;
	}
	.column-4 {
		width: $column-4-width;
	}
	.column-5 {
		width: $column-5-width;
	}
	.column-6 {
		width: $column-6-width;
	}
	.column-7 {
		width: $column-7-width;
	}
	.column-8 {
		width: $column-8-width;
	}
	.column-9 {
		width: $column-9-width;
	}
	.column-10 {
		width: $column-10-width;
	}
}

.example-block {
	background-color: #000;
	width:100%;
	height:50px;
	color:#fff;
	position:relative;
}

.vertical-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: auto;
  width: 50%;
  height: 50%;
}