<!DOCTYPE html>
<html>
<head>
	<title>Gluhu</title>
	<!-- Add gluhu stylesheet here -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="container">

		<header>

			<div class="row">

				<div class="column-10">

					<h2 class="h2-logo">Gluhu</h2>

					<button class="hamburger-menu-button" role="navigation">
						<span class="icon-menu"></span>
						<p class="sr-only">Menu</p>
					</button>

					<nav class="navigation">

						<ul>
							
							<li><a href="#">Nav link 1</a></li>
							<li><a href="#">Nav link 2</a></li>
							<li><a href="#">Nav link 3</a></li>

						</ul>
							

					</nav>

				</div>

			</div><!--row-->

		</header>

		<div class="row">

			<div class="column-7">

				<h2> Grid system </h2>

			</div><!--column-7-->

		</div><!--row-->

		<div class="row">

			<div class="column-1">

				<div class="example-block">

					<p class="vertical-center">col-1</p>

				</div>
			
			</div><!--column-1--> 

		</div><!--row-->

		<div class="row">

			<div class="column-2">

				<div class="example-block">

					<p class="vertical-center">col-2</p>

				</div>
			
			</div><!--column-2--> 

		</div><!--row-->

		<div class="row">

			<div class="column-3">

				<div class="example-block">

					<p class="vertical-center">col-3</p>



				</div>
			
			</div><!--column-3--> 

		</div><!--row-->
		
		<div class="row">

			<div class="column-4">

				<div class="example-block">

					<p class="vertical-center">col-4</p>

				</div>
				
			</div><!--column-4--> 

		</div><!--row-->

		<div class="row">

			<div class="column-5">

				<div class="example-block">

					<p class="vertical-center">col-5</p>

				</div>
				
			</div><!--column-5--> 

		</div><!--row-->

		<div class="row">

			<div class="column-6">

				<div class="example-block">

					<p class="vertical-center">col-6</p>

				</div>
				
			</div><!--column-6--> 

		</div><!--row-->

		<div class="row">

			<div class="column-7">

				<div class="example-block">

					<p class="vertical-center">col-7</p>

				</div>
				
			</div><!--column-7--> 

		</div><!--row-->

		<div class="row">

			<div class="column-8">

				<div class="example-block">

					<p class="vertical-center">col-8</p>

				</div>
				
			</div><!--column-8--> 

		</div><!--row-->

		<div class="row">

			<div class="column-9">

				<div class="example-block">

					<p class="vertical-center">col-9</p>

				</div>
				
			</div><!--column-9--> 

		</div><!--row-->

		<div class="row">

			<div class="column-10">

				<div class="example-block">

					<p class="vertical-center">col-10</p>

				</div>
				
			</div><!--column-10-->

		</div><!--row-->

		<div class="row">

			<div class="column-6">

				<h2>Typography</h2>

				<h1>Heading 1</h1>

				<p class="lead-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra, quam at fringilla auctor, lacus dolor malesuada mauris, a placerat libero mi vel ex. Phasellus bibendum dapibus elit. Quisque ac ex non magna feugiat condimentum. Integer vitae lacus odio.
				</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra, quam at fringilla auctor, lacus dolor malesuada mauris, a placerat libero mi vel ex. Phasellus bibendum dapibus elit. Quisque ac ex non magna feugiat condimentum. Integer vitae lacus odio. Vivamus neque enim, placerat sed lorem vitae, dapibus ultricies est. Curabitur ultricies fermentum gravida. Mauris dignissim, lacus at pulvinar hendrerit, justo dui suscipit orci, sed aliquam mi orci nec enim. Aliquam felis nulla, mattis sed magna cursus, ultrices semper eros. Aliquam cursus tincidunt mattis. </p>

				<h2>Heading 2</h2>

				<p>

				Curabitur risus mi, elementum at ante ut, feugiat sodales eros. Integer neque erat, auctor vel dignissim et, porta sit amet justo. Aenean a risus orci. Duis tellus enim, mattis id orci suscipit, semper pulvinar justo. Duis id laoreet orci. Donec a efficitur elit, non lobortis lectus. Donec et ullamcorper nisi. 

				</p>

				<h3>Heading 3</h3>

				<p>

				In elementum mollis purus, at sagittis turpis mollis feugiat. Sed imperdiet lorem quis ultricies ultricies. Morbi augue nunc, posuere nec mauris in, varius vestibulum massa. Nullam sit amet urna laoreet, efficitur metus eu, dictum lacus. Pellentesque interdum vulputate enim sed feugiat. Ut euismod pharetra mi sed scelerisque. Curabitur consequat mauris eu est rhoncus molestie. Donec varius pharetra quam non aliquet. In a tortor et enim pulvinar fringilla. Aliquam rhoncus augue nulla, ut vehicula velit pellentesque ac. Suspendisse at ipsum enim. Ut fermentum ante eget velit iaculis blandit. Quisque vestibulum velit non tellus cursus tincidunt. Etiam dictum laoreet ex, in semper augue pellentesque a. Nullam bibendum, enim non mollis lacinia, ligula leo semper dui, sit amet placerat metus orci ac justo. Morbi placerat condimentum rutrum.

				</p>

				<ol>
					<li>List item</li>
					<li>List item</li>
					<li>List item</li>
				</ol>

				<ul>
					<li>List item</li>
					<li>List item</li>
					<li>List item</li>
				</ul>
				
			</div><!--column-7--> 

		</div><!--row-->

		<div class="row">

			<div class="column-7">

				<h2>Forms</h2>

				<form method="get">
					<label for="text">Text: </label>
					<input type="text" id="text">

					<label for="textarea">Message: </label>
					<textarea></textarea>

					<fieldset>

						<legend class="sr-only">Radio Options</legend>
						<div class="radio-option">
							<label for="radio-1">
								<input type="radio" id="radio-1">
								Option 1
							</label>
						</div><!--radio-option-->
						<div class="radio-option">
							<label for="radio-2">
								<input type="radio" id="radio-2">
								Option 2
							</label>
						</div><!--radio-option-->
					</fieldset>

					<label>
						<input type="checkbox">
						Checkbox
					</label>

					<label for="select">Select: </label>
					<select id="select">
			          <option>Option 1</option>
			          <option>Option 2</option>
			          <option>Option 3</option>
			        </select>

					<button type="submit">Submit</button>

				</form>

				<h3>Validation states</h3>

				<p class="error-background">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

				<p class="success-background">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

				<form method="get">
					<label class="text-error" for="text">Text: </label>
					<input class="error" type="text" id="text">
					<p class="text-error">You've got an error</p>

					<label class="text-success" for="textarea">Message: </label>
					<textarea class="success"></textarea>
					<p class="text-success">Great message</p>

					<fieldset>

						<legend class="sr-only">Radio Options</legend>
						<div class="radio-option">
							<label class="text-error" for="radio-1">
								<input type="radio" id="radio-1">
								Option 1
							</label>
						</div><!--radio-option-->
						<div class="radio-option">
							<label class="text-error" for="radio-2">
								<input type="radio" id="radio-2">
								Option 2
							</label>
						</div><!--radio-option-->
					</fieldset>
					<p class="text-error">There was a problem with your selection</p>

					<label class="text-success">
						<input type="checkbox">
						Checkbox
					</label>
					<p class="text-success">Great choice!</p>

					<label for="select">Select: </label>
					<select class="success" id="select">
			          <option>Option 1</option>
			          <option>Option 2</option>
			          <option>Option 3</option>
			        </select>
			        <p class="text-success">Great choice!</p>


					<button type="submit">Submit</button>

				</form>




			</div><!--column-7-->

		</div><!--row-->

	</div><!--container-->

	<!-- add jquery an toggle.js here --> 

</body>
</html>